 body {
      background-color: #ebecea;
    }
    header{
      background-color:#4749cd;
    }
    .balance {
      color: white;
    }
    .eye {
       cursor: pointer;
      
      font-size: 20px;
    }
    .bouton{
      width:150px;
      height: 100px;  
      background-color: white !important;
      margin-top: -2px;
    }
    .card-qr {
      background: rgb(29, 200, 255);
      border-radius: 12px;
      text-align: center;
      margin: 20px auto;
      width: 260px;
      height: 150px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    }
    #qrcode {
      background: white;
      display: inline-block;
      margin-top: 4px;
      padding: 5px;
      border-radius: 10px;
    }
    .cardAction{
        margin-top: -20px;
    }
    .input-recheche{
      width: 250px;
    }